<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Blog Home Page</title>
  </head>
  <body>
    <h1>{{ Welcome_msg }}</h1>
  </body>
</html>  !-->

<!DOCTYPE html>
 
<html lang="en">
 
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>First Blog</title>
</head>
 
<body>
 
<!-- <div class="container">
    <h1>First Blog</h1>
    <h2>{{ Title }}</h2>
    <h3>Posted on {{ date }} by {{ author }}</h3>
    <p>{{ body }}</p>
 
</div>  !-->
<div class = "container">
  <h1>Scramblings</h1>
  {% for post in posts %}
    <div class="post">
      <h2>{{post.title}}</h2>
      <h3>Posted by {{post.author}}</h3>
      <p>{{post.body}}</p>
    </div>
  {% endfor %}
</div>
 
</body>
     
</html>
